{% extends 'base/add_base.html' %}

{% block content %}
    <div class="layui-container" style="padding: 30px">
        <form class="layui-form" method="post" id="form-data" novalidate>

            <div class="layui-form-item">
                <label class="layui-form-label">修改权限:</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="like[write]" title="产品列表">
                    <input type="checkbox" name="like[read]" title="设备列表">
                    <input type="checkbox" name="like[dai]" title="设备详情">
                    <input type="checkbox" name="like[dai]" title="实时监控">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    {{ form.submit }}
                    {{ form.csrf_token }}
                </div>
            </div>
        </form>
    </div>
    </div>
{% endblock %}


{% block js %}
    <script>
        //Demo
        layui.use('form', function () {
            var form = layui.form;
            //监听提交
            form.on('submit(formDemo)', function (data) {
                return false;
            });
        });
    </script>
{% endblock %}