{% extends 'base/add_base.html' %}

{% block content %}
    <div class="layui-container" style="padding: 30px">
        {% for msg in get_flashed_messages(category_filter=['ok']) %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                </button>
                {{ msg }}
            </div>
        {% endfor %}
        <form class="layui-form" method="post" id="form-data" novalidate>

            <div class="layui-form-item">
                <label class="layui-form-label">设备名称:</label>
                <div class="layui-input-block">
                    {{ form.name }}
                    {% for err in form.name.errors %}
                        <div style="margin: 5px 0 -10px 5px">
                            <font style="color: red">
                                {{ err }}
                            </font>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">所属项目id:</label>
                <div class="layui-input-block">
                    {{ form.project_id }}
                    {% for err in form.project_id.errors %}
                        <div style="margin: 5px 0 -10px 5px">
                            <font style="color: red">
                                {{ err }}
                            </font>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">所属产品id:</label>
                <div class="layui-input-block">
                    {{ form.product_id }}
                    {% for err in form.product_id.errors %}
                        <div style="margin: 5px 0 -10px 5px">
                            <font style="color: red">
                                {{ err }}
                            </font>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">所属设备组id:</label>
                <div class="layui-input-block">
                    {{ form.devicegroup_id }}
                    {% for err in form.devicegroup_id.errors %}
                        <div style="margin: 5px 0 -10px 5px">
                            <font style="color: red">
                                {{ err }}
                            </font>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">设备编号:</label>
                <div class="layui-input-block">
                    {{ form.number }}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">节点:</label>
                <div class="layui-input-block">
                    {{ form.node }}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">在线状态:</label>
                <div class="layui-input-block">
                    {{ form.online }}
                    {% for err in form.online.errors %}
                        <div style="margin: 5px 0 -10px 5px">
                            <font style="color: red">
                                {{ err }}
                            </font>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">激活状态:</label>
                <div class="layui-input-block">
                    {{ form.active }}
                    {% for err in form.active.errors %}
                        <div style="margin: 5px 0 -10px 5px">
                            <font style="color: red">
                                {{ err }}
                            </font>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    {{ form.submit }}
                    {{ form.csrf_token }}
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        //Demo
        layui.use('form', function () {
            var form = layui.form;

            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
                return false;
            });
        });
    </script>
{% endblock %}