{% extends 'database/base/database_base.html' %}

{% block content %}
    {% for msg in get_flashed_messages(category_filter=['ok']) %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
            </button>
            {{ msg }}
        </div>
    {% endfor %}
    <form class="layui-form" method="post" id="form-data" novalidate>

        <div class="layui-form-item">
            <div class="layui-col-md2" style="margin-top: 7px">account:</div>
            <div class="layui-col-md10">
                {{ form.account }}
                {% for err in form.account.errors %}
                    <div class="layui-col-md12" style="margin: 5px 0 -10px 5px">
                        <font style="color: red">
                            {{ err }}
                        </font>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-col-md2" style="margin-top: 7px">pwd:</div>
            <div class="layui-col-md10">
                {{ form.pwd }}
                {% for err in form.pwd.errors %}
                    <div class="layui-col-md12" style="margin: 5px 0 -10px 5px">
                        <font style="color: red">
                            {{ err }}
                        </font>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-col-md2" style="margin-top: 7px">role_id:</div>
            <div class="layui-col-md10">
                {{ form.role_id }}
                {% for err in form.role_id.errors %}
                    <div class="layui-col-md12" style="margin: 5px 0 -10px 5px">
                        <font style="color: red">
                            {{ err }}
                        </font>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-col-md2" style="margin-top: 7px">_locked:</div>
            <div class="layui-col-md10">
                {{ form.locked }}
                {% for err in form.locked.errors %}
                    <div class="layui-col-md12" style="margin: 5px 0 -10px 5px">
                        <font style="color: red">
                            {{ err }}
                        </font>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="layui-row layui-col-space30">
            <div class="layui-col-md5"></div>

            <div class="layui-col-md2">
                {{ form.submit }}
            </div>
            <div class="layui-col-md5"></div>
            {{ form.csrf_token }}
        </div>
    </form>
{% endblock %}