{% extends 'database/base/database_base.html' %}

{% block content %}


    <div class="layui-form-item">
        <div class="layui-col-md2" style="margin-top: 7px;">请绑定设备:</div>
        <div class="layui-col-md10">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <select name="city" lay-verify="required">
                            <option value=""></option>
                            <option value="0">共享充电宝</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <div class="layui-row layui-col-space30">
        <div class="layui-col-md5"></div>

        <div class="layui-col-md2">
            {{ form.submit }}
        </div>

        <div class="layui-col-md5"></div>
        {{ form.csrf_token }}
    </div>
{% endblock %}

{% block js %}

    <script>
        //Demo
        layui.use('form', function () {
            var form = layui.form;
            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
                return false;
            });
        });
    </script>

{% endblock %}