{% extends 'database/base/database_base.html' %}

{% block content %}
    {% for msg in get_flashed_messages(category_filter=['ok']) %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
            </button>
            {{ msg }}
        </div>
    {% endfor %}
    <form class="layui-form" method="post" id="form-data" novalidate>

        <div class="layui-form-item">
            <label class="layui-form-label">name:</label>
            <div class="layui-input-block">
                {{ form.name }}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">product_id:</label>
            <div class="layui-input-block">
                {{ form.product_id }}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">node:</label>
            <div class="layui-input-block">
                {{ form.node }}
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                {{ form.submit }}
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                {{ form.csrf_token }}
            </div>
        </div>
    </form>
{% endblock %}


{% block js %}
    <script>
        $(document).ready(function () {
            $('#product').addClass('layui-this');
        });
    </script>
{% endblock %}
