{% extends 'base/add_base.html' %}

{% block content %}
    <div class="layui-container" style="padding: 30px">
        {% for msg in get_flashed_messages(category_filter=['ok']) %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                </button>
                {{ msg }}
            </div>
        {% endfor %}
        <form class="layui-form" method="post" id="form-data" novalidate>

            <div class="layui-form-item">
                <label class="layui-form-label">产品名称:</label>
                <div class="layui-input-block">
                    {{ form.name }}
                    {% for err in form.name.errors %}
                        <div style="margin: 5px 0 -10px 5px">
                            <font style="color: red">
                                {{ err }}
                            </font>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">是否接入网关:</label>
                <div class="layui-input-block">
                    {{ form.is_gateway }}
                    {% for err in form.is_gateway.errors %}
                        <div style="margin: 5px 0 -10px 5px">
                            <font style="color: red">
                                {{ err }}
                            </font>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">网络连接方式:</label>
                <div class="layui-input-block">
                    {{ form.networking }}
                    {% for err in form.networking.errors %}
                        <div style="margin: 5px 0 -10px 5px">
                            <font style="color: red">
                                {{ err }}
                            </font>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">数据类型:</label>
                <div class="layui-input-block">
                    {{ form.data_format }}
                    {% for err in form.data_format.errors %}
                        <div style="margin: 5px 0 -10px 5px">
                            <font style="color: red">
                                {{ err }}
                            </font>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">是否id认证:</label>
                <div class="layui-input-block">
                    {{ form.is_authen }}
                    {% for err in form.is_authen.errors %}
                        <div style="margin: 5px 0 -10px 5px">
                            <font style="color: red">
                                {{ err }}
                            </font>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">认证id:</label>
                <div class="layui-input-block">
                    {{ form.authen_id }}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">产品id:</label>
                <div class="layui-input-block">
                    {{ form.product_id }}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">产品描述:</label>
                <div class="layui-input-block">
                    {{ form.description }}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">产品节点:</label>
                <div class="layui-input-block">
                    {{ form.node }}
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    {{ form.submit }}
                    {{ form.csrf_token }}
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
