{% extends 'base/add_base.html' %}

{% block content %}
    <div class="layui-container" style="padding: 30px">
        {% for msg in get_flashed_messages(category_filter=['ok']) %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                </button>
                {{ msg }}
            </div>
        {% endfor %}
        <form class="layui-form" method="post" id="form-data" novalidate>

            <div class="layui-form-item">
                <label class="layui-form-label">用户账号:</label>
                <div class="layui-input-block">
                    {{ form.account }}
                    {% for err in form.account.errors %}
                        <div style="margin: 5px 0 -10px 5px">
                            <font style="color: red">
                                {{ err }}
                            </font>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">用户密码:</label>
                <div class="layui-input-block">
                    {{ form.pwd }}
                    {% for err in form.pwd.errors %}
                        <div style="margin: 5px 0 -10px 5px">
                            <font style="color: red">
                                {{ err }}
                            </font>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">手机号码:</label>
                <div class="layui-input-block">
                    {{ form.phone }}
                    {% for err in form.phone.errors %}
                        <div style="margin: 5px 0 -10px 5px">
                            <font style="color: red">
                                {{ err }}
                            </font>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">用户姓名:</label>
                <div class="layui-input-block">
                    {{ form.name }}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">用户头像:</label>
                <div class="layui-input-block">
                    {{ form.face }}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">微信号:</label>
                <div class="layui-input-block">
                    {{ form.wechat }}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">启用/禁用:</label>
                <div class="layui-input-block">
                    {{ form.locked }}
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    {{ form.submit }}
                    {{ form.csrf_token }}
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

