body {
  background: #2c3e50;
}

.error {
  border: 1px solid red;
}

.login-frame {
  width: 450px;
  margin: 200px auto;
  background: #eee;
  padding-bottom: 40px;
}

.login-frame .login-title {
  width: 100%;
  padding: 20px 30px;
  font-size: 18px;
  margin-bottom: 10px;
  position: relative;
  font-size: 20px;
}

.login-frame .login-title:before {
  content: "";
  width: 4px;
  height: 30px;
  background: green;
  position: absolute;
  top: 16px;
  left: -1px;
}

.login-frame form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.login-frame form input[type="text"] {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  text-indent: .6em;
}

.login-frame form .remind-pass {
  display: flex;
  align-items: center;
  height: 50px;
}

.login-frame form .remind-pass .sign {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2px;
}

.login-frame form .remind-pass label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
}

.login-frame form #account {
  width: 100%;
  height: 40px;
  margin: 10px auto;
  text-indent: .6em;
}

.login-frame form #pwd {
  width: 100%;
  height: 40px;
  margin: 10px auto;
  text-indent: .6em;
}

.login-frame form #remember_me {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2px;
}


.login-frame form #submit {
  border-radius: 5px;
  background: #FF9900;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px;
  font-size: 16px;
  color: #fff;
}
