@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-size: 14px;
  background: RGBA(235, 243, 248, 1);
}

ul,
li {
  list-style: none;
}

textarea {
  resize: none;
  /*禁用了文本的拖拉*/
}

p {
  word-wrap: break-word;
  /* 不够的单词自动换行 */
}

a {
  color: #333333;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

input,
select {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
i,
strong {
  font-weight: normal;
}

/*
############
    公用
############
*/
.containerd {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* 进度条*/
  /*
        主页头部
    */
  /*
        控制栏
    */
  /*
            切换控制栏视图
    */
  /*
        主体结构
    */
  /*
        按钮
    */
  /*
    下拉框
    */
  /*
    翻页按钮组
    */
}

.containerd .container-full {
  width: 100%;
  height: auto;
}

.containerd .container-center {
  flex: 1;
  min-width: 900px;
}

.containerd .Bar {
  position: relative;
  background: #ddd;
  border-radius: 8px;
  margin: 5px 0;
}

.containerd .Bar div {
  display: block;
  position: relative;
  color: #333333;
  height: 5px;
  border-radius: 8px;
}

.containerd .Bar .bar1 {
  background: #03c501;
}

.containerd .Bar .bar2 {
  background: #e44235;
}

.containerd .Bar .bar3 {
  background: #ff8e02;
}

.containerd .Bar .bar4 {
  background: #5cc9f5;
}

.containerd .index-head {
  height: 68px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 8px 1px 8px #ddd;
  background: #fff;
}

.containerd .index-head .index-head-left {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.containerd .index-head .index-head-left img {
  width: 50px;
  height: 50px;
}

.containerd .index-head .index-head-left .X {
  cursor: pointer;
  margin-left: 20px;
  transition: all 0.3s;
  transform: rotate(45deg);
}

.containerd .index-head .index-head-left .X img {
  width: 28px;
  height: 28px;
}

.containerd .index-head .index-head-left .X-active {
  transform: rotate(0);
}

.containerd .index-head .index-head-left p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.containerd .index-head .index-head-left p span:last-of-type {
  font-size: 12px;
}

.containerd .index-head .index-head-right {
  width: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.containerd .index-head .index-head-right img {
  width: 31px;
  height: 31px;
  margin-right: 18px;
  cursor: pointer;
}

.containerd .index-head .index-head-right .index-head-user {
  width: auto;
  display: flex;
}

.containerd .index-head .index-head-right .index-head-user img {
  width: 50px;
  height: 50px;
  border-radius: 9px;
  margin-right: 0;
  cursor: pointer;
}

.containerd .index-head .index-head-right .index-head-user p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.containerd .index-head .index-head-right .index-head-user p span:last-of-type {
  font-size: 12px;
}

.containerd .index-control {
  max-width: 190px;
  min-height: calc(100vh - 69px);
  box-shadow: 5px 0 10px #ddd;
  transition: all 0.3s;
  background: #fff;
  overflow: hidden;
}

.containerd .index-control .index-control-title {
  height: 40px;
  width: 180px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}

.containerd .index-control .index-control-title img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.containerd .index-control .index-control-title p {
  font-size: 18px;
  margin: 0 0 0 40px;
}

.containerd .index-control .index-control-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.containerd .index-control .index-control-content .control-list .control-list-active {
  background: #999;
}

.containerd .index-control .index-control-content .control-list .list-item1-active {
  background: -webkit-linear-gradient(left, #3d87ea, #00cbe0);
  color: #fff;
}

.containerd .index-control .index-control-content .control-list .list-item1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  cursor: pointer;
  max-width: 180px;
  overflow: hidden;
  transition: all 0.3s;
}

.containerd .index-control .index-control-content .control-list .list-item1 .tog-active {
  transform: rotate(90deg);
}

.containerd .index-control .index-control-content .control-list .list-item1 span {
  font-size: 16px;
  padding: 0 0 0 20px;
  transition: 0.3s;
}

.containerd .index-control .index-control-content .control-list .list-item1 i {
  font-size: 28px;
  width: 30px;
  text-align: center;
  transition: 0.3s;
}

.containerd .index-control .index-control-content .control-list .list-item1 p {
  transition: 0.1s;
  text-align: center;
}

.containerd .index-control .index-control-content .control-list .list-item1 p i {
  font-size: 13px;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerd .index-control .index-control-content .control-list .list-item1:hover {
  background: -webkit-linear-gradient(left, #3d87ea, #6e81e0);
}

.containerd .index-control .index-control-content .control-list .list-item1:hover i {
  color: #fff;
}

.containerd .index-control .index-control-content .control-list .list-item1:hover span {
  color: #fff;
}

.containerd .index-control .index-control-content .control-list .list-item2 {
  display: flex;
  flex-direction: column;
  background: #eee;
  max-height: 0;
  overflow: hidden;
  max-width: 200px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s;
  box-shadow: 0 0 8px #ddd;
}

.containerd .index-control .index-control-content .control-list .list-item2 span {
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  display: block;
  width: 100%;
  transition: 0.3s;
}

.containerd .index-control .index-control-content .control-list .toggle-item {
  max-height: 300px;
}

.containerd .toggle-control {
  max-width: 70px;
}

.containerd .toggle-control .list-item1 {
  display: flex;
  flex-direction: column;
  max-width: 70px;
  justify-content: center;
  align-items: center;
}

.containerd .toggle-control .list-item1 span {
  font-size: 12px !important;
  padding: 0 !important;
}

.containerd .toggle-control .list-item1 i {
  max-width: 70px;
}

.containerd .toggle-control .list-item2 {
  max-width: 70px;
}

.containerd .toggle-control .list-item2 span {
  padding: 5px;
  width: 50px;
}

.containerd .container-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.containerd .container-card .head {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.containerd .container-card .head p {
  font-size: 20px;
}

.containerd .container-card .devices-group {
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.containerd .container-card .devices-group .devices-info {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.containerd .container-card .devices-group .devices-info > div {
  width: 180px;
  padding: 15px;
  border-left: 1px solid #ddd;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.containerd .container-card .devices-group .devices-info > div div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.containerd .container-card .devices-group .devices-info > div div .circular {
  width: 12px;
  height: 12px;
  background: #41C7DB;
  border-radius: 50%;
  margin-right: 5px;
}

.containerd .container-card .devices-group .devices-info > div p:last-of-type {
  font-size: 26px;
}

.containerd .container-card .search-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.containerd .container-card .search-group .search-group-left {
  display: flex;
  flex-direction: column;
}

.containerd .container-card .search-group .search-group-left .search-input {
  display: flex;
  flex-direction: row;
}

.containerd .container-card .search-group .search-group-left .search-input input[type="text"] {
  min-width: 300px;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-indent: 1em;
}

.containerd .container-card .search-group .search-group-left .search-title {
  font-size: 22px;
  padding: 0 0 10px 0;
}

.containerd .container-card .container-table {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  flex: 1;
  margin-top: 20px;
}

.containerd .container-card .container-table td,
.containerd .container-card .container-table th {
  padding: 8px 20px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  max-width: 500px;
}

.containerd .container-card .container-table td p,
.containerd .container-card .container-table th p {
  word-wrap: break-word;
}

.containerd .pub-button-group {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.containerd .pub-button-group .pub-button {
  min-width: 75px;
  padding: 4px 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
}

.containerd .pub-button-group .pub-button + .pub-button {
  margin-left: 10px;
}

.containerd .pub-button-group .pub-button-primary {
  background: #41C7DB;
  color: #fff;
}

.containerd .pub-button-group .pub-button-danger {
  background: red;
  color: #fff;
}

.containerd .pub-button-group .pub-button-empty {
  background: #fff;
  border: 1px solid #999;
  color: #000;
}

.containerd .pub-select {
  min-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background: #fff;
}

.containerd .pub-select + .pub-select {
  margin-left: 20px;
}

.containerd .pub-pageTurning {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
}

.containerd .pub-pageTurning p {
  margin: 0 20px 0 0;
}

.containerd .pub-pageTurning p:last-of-type {
  margin: 0 0 0 40px;
  color: #999;
}

.containerd .pub-pageTurning li {
  border: 1px solid #eee;
  padding: 5px 10px;
  background: #eee;
  color: #999;
  border-radius: 2px;
  margin: 0 1px;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 500;
}

.containerd .pub-pageTurning li:hover {
  background: #41C7DB;
  color: #fff;
}

.containerd .pub-pageTurning .pub-pageSelect {
  width: 40px;
  height: 35px;
  border: none;
  margin: 0 0 0 10px;
}

.containerd .pub-pageTurning .pub-pageActive {
  background: #41C7DB;
  color: #fff;
}
