<div class="index-head container-full">
    <div class="index-head-left">
        <img src="{{ url_for('static',filename='./assets/logo.png') }}" alt="">
        <p>
            <span>滴咚科技</span>
            <span>DIDONGTECH</span>
        </p>
        <div class="X">
            <img src="{{ url_for('static',filename='./assets/control.png') }}" alt="">
        </div>
    </div>
    <div class="index-head-right">
        <img src="{{ url_for('static',filename='./assets/dingdang.png') }}" alt="">
        <div class="index-head-user">
            <img src="{{ url_for('static',filename='./assets/user.jpg') }}" alt="">
            <p>
                <span>
                    {{ session_admin | upper }}
                </span>
                <span>
                    {{ session_role_id }}
                </span>
            </p>
        </div>
        <button class="layui-btn layui-btn-sm layui-btn-danger" style="margin-left: 10px;margin-top: 5px">
            <a href="{{ url_for('admin.logout') }}" style="color: #FFFFFF">退出</a>
        </button>
    </div>
</div>

<div class="index-control">
    <div class="index-control-title" style="margin-top: 5px">
        <img src="{{ url_for('static',filename='./assets/user.jpg') }}">
        <p>控制台</p>
    </div>
    <div class="index-control-content">
        <div class="control-list ">
            <div id="g-1" class="list-item1">
                <i class="fa fa-home"></i>
                <a href="{{ url_for('admin.index') }}"><span>仪表盘</span></a>
                <i class="" style="font-size:12px;"></i>
            </div>
        </div>
        <div class="control-list ">
            <div id="g-2" class="list-item1">
                <i class="fa fa-product-hunt"></i>
                <span>项目管理</span>
                <p id="g-2-1"><i class="fa fa-sort-asc"></i></p>
            </div>
            <p id="g-2-2" class="list-item2">
                <a href="{{ url_for('admin.project_list',page=1) }}"><span id="g-2-3">项目列表</span></a>
            </p>
        </div>
        <div class="control-list">
            <div id="g-3" class="list-item1">
                <i class="fa fa-rocket"></i>
                <span>设备管理</span>
                <p id="g-3-1"><i class="fa fa-sort-asc"></i></p>

            </div>
            <p id="g-3-2" class="list-item2">
                <a href="{{ url_for('admin.product_list',page=1) }}"><span id="g-3-3">产品列表</span></a>
                <a href="{{ url_for('admin.devices_list',page=1) }}"><span id="g-3-4">设备列表</span></a>
                <a href="{{ url_for('admin.group',page=1) }}"><span id="g-3-5">分组列表</span></a>
            </p>
        </div>
        <div class="control-list">
            <div id="g-4" class="list-item1">
                <i class="fa fa-connectdevelop"></i>
                <span>监控运维</span>
                <p id="g-4-1"><i class="fa fa-sort-asc"></i></p>
            </div>
            <p id="g-4-2" class="list-item2">
                <a href="{{ url_for('admin.monitor') }}"><span id="g-4-3">实时监控</span></a>
                <a href="{{ url_for('admin.online_test') }}"><span id="g-4-4">在线测试</span></a>
                <a href="{{ url_for('admin.log_server',page=1) }}"><span id="g-4-5">日志服务</span></a>
            </p>
        </div>
        <div class="control-list">
            <div id="g-5" class="list-item1">
                <i class="fa fa-line-chart"></i>
                <span>财务统计</span>
                <p id="g-5-1"><i class="fa fa-sort-asc"></i></p>
            </div>
            <p id="g-5-2" class="list-item2">
                <a href="{{ url_for('admin.orderlist',page=1) }}"><span id="g-5-3">订单统计</span></a>
            </p>
        </div>
        <div class="control-list">
            <div id="g-6" class="list-item1">
                <i class="fa fa-street-view"></i>
                <span>用户管理</span>
                <p id="g-6-1"><i class="fa fa-sort-asc"></i></p>
            </div>
            <p id="g-6-2" class="list-item2">
                <a href="{{ url_for('admin.admin_user',page=1) }}"><span id="g-6-3">系统用户</span></a>
                <a href="{{ url_for('admin.project_user',page=1) }}"><span id="g-6-4">项目用户</span></a>
            </p>
        </div>
        <div class="control-list">
            <div id="g-7" class="list-item1">
                <i class="fa fa-signal"></i>
                <span>实时数据</span>
                <p id="g-7-1"><i class="fa fa-sort-asc"></i></p>
            </div>
            <p id="g-7-2" class="list-item2">
                <a href="{{ url_for('admin.real_time') }}"><span id="g-7-3">实时温湿度</span></a>
                <a href="{{ url_for('admin.real_time_monitor') }}"><span id="g-7-4">实时监控</span></a>
            </p>
        </div>
    </div>
</div>