<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='js/layui/css/layui.css') }}" media="all">
    <style>
        table{
            width: 80%;
            height: auto;
            margin: 0 auto;

        }
        table tr td p{
            text-align: center;
        }
        .add{
            text-align: right;
            font-size: 40px;
            color: #ccc;
        }
        #power{
            margin-left: 29%;
        }
    </style>
</head>
<body>
<p class="add" id="add">+</p>
<table>
    <tr>
        <th>序列</th>
        <th>管理员/操作员账号</th>
        <th>密码</th>
        <th>权限</th>
        <th>操作</th>
    </tr>
    <tr>
        <td>
            <p>1</p>
        </td>
        <td>
            <p>admin</p>
        </td>
        <td>
            <p>123456</p>
        </td>
        <td>
            <p>
            <div class="layui-btn layui-btn-normal" id="power" style="text-align: center">权限</div>
            </p>
        </td>
        <td>
            <p>
                <a href="" onclick="return del()">删除</a>
            </p>
        </td>
    </tr>
</table>
<script src="{{ url_for('static',filename='vendor/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/public.js') }}"></script>
    <script src="{{ url_for('static',filename='js/layui/layui.all.js') }}"></script>
 <script>
        //Demo
        layui.use('form', function () {
            var form = layui.form;
            //监听提交
            form.on('submit(formDemo)', function (data) {
//            layer.msg(JSON.stringify(data.field));
                return false;
            });
        });
    </script>
<script>
        $(document).ready(
            function () {
                $("#power").click(function () {
                    layer.open({
                        type: 2,
                        area: ['60%', '70%'],
                        title: '修改权限',
                        content: '{{ url_for('admin.power_form') }}', //这里content是一个普通的String
                    });
                });
                $("#add").click(function () {
                    layer.open({
                        type: 2,
                        area: ['60%', '70%'],
                        title: '添加用户',
                        content: '{{ url_for('admin.project_user_add') }}', //这里content是一个普通的String
                    });
                });

            }
        )
    </script>
<script>

function del() {
    if(confirm("确定要删除吗？"))

    {

        return true;

    }

    else

    {

        return false;

    }

}

</script>
</body>
</html>