{% extends 'base/admin_base.html' %}
{% import 'base/page.html' as pg %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='./css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='./js/layui/css/layui.css') }}" media="all">
{% endblock %}


{% block title %}
    <title>系统用户</title>
{% endblock %}


{% block content %}
    <div class="container-center">
        <div class="container-card">
            <div class="head">
                <p>系统用户</p>
            </div>
            <div class="devices-group">
                <select class="pub-select">
                    <option value="0">Volvo</option>
                    <option value="1">Saab</option>
                    <option value="2">Opel</option>
                    <option value="3">Audi</option>
                </select>
                <select class="pub-select">
                    <option value="0">共享充电宝</option>
                    <option value="1">Saab</option>
                    <option value="2">Opel</option>
                    <option value="3">Audi</option>
                </select>
                <select class="pub-select">
                    <option value="0">全部</option>
                    <option value="1">Saab</option>
                    <option value="2">Opel</option>
                    <option value="3">Audi</option>
                </select>
                <div class="search-group">
                    <div class="search-group-left" style="margin-left:20px;margin-top: -20px">
                        <div class="search-input">
                            <input type="text" placeholder="请输入手机号码/账号">
                            <div class="pub-button-group">
                                <div class="pub-button pub-button-primary ">
                                    搜索
                                </div>
                            </div>
                            <div class="pub-button-group">
                            <div class="pub-button pub-button-primary pub-button-margin" id="creat"
                                 style="margin-left: 35%">
                                创建用户
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-full">
                <form action="" method="post" id="form-data" novalidate>
                    <div class="search-group">
                        <div class="search-group-left">
                            <div class="search-title">用户信息</div>
                        </div>
                    </div>

                    <table cellspacing="0" class="container-table">
                        <tr>
                            <th class="layui-elip">序列</th>
                            <th class="layui-elip">管理员/账号</th>
                            <th class="layui-elip">密码</th>
                            <th class="layui-elip">姓名</th>
                            <th class="layui-elip">所属项目</th>
                            <th class="layui-elip">注册时间</th>
                            <th class="layui-elip">最后登录时间</th>
                            <th class="layui-elip">编辑</th>
                            <th class="layui-elip">权限</th>
                            <th class="layui-elip">当前状态</th>
                            <th class="layui-elip">操作</th>
                        </tr>
                        {% for v in page_data.items %}
                            <tr>
                                <td>
                                    <p class="layui-elip">{{ v.id }}</p>
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.account }}</p>
                                </td>
                                <td>
                                    <p class="layui-elip">******</p>
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.name }}</p>
                                </td>
                                <td>
                                    {% for i in v.project %}
                                        <p class="layui-elip">{{ i.name }}</p>
                                    {% endfor %}
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.regist_time }}</p>
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.login_time }}</p>
                                </td>
                                <td>
                                    <div class="layui-btn layui-btn-warm edit" onclick="layer.open({
                                            type: 2,
                                            shadeClose: false,
                                            shade: 0.6,
                                            maxmin: true,
                                            moveOut : true,
                                            area: ['50%', '60%'],
                                            title: '编辑',
                                            content: '{{ url_for('admin.admin_edit',id=v.id) }}',
                                            });">编辑
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-btn layui-btn-normal power">权限</div>
                                </td>
                                <td>
                                    {% set id = v.id %}
                                    {% set _locked = v._locked %}
                                    {% set page = page_data.page %}
                                    {% if _locked == 1 %}
                                        <p class="layui-elip">
                                            <a href="{{ url_for('admin.admin_user',page=page,id=id,_locked=_locked) }}"
                                               class="layui-btn" id="button">
                                                启用中
                                            </a>
                                        </p>
                                    {% elif _locked == 0 %}
                                        <p class="layui-elip">
                                            <a href="{{ url_for('admin.admin_user',page=page,id=id,_locked=_locked) }}"
                                               class="layui-btn layui-btn-danger" id="button">
                                                禁用中
                                            </a>
                                        </p>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="pub-button-group">
                                        <div class="pub-button pub-button-danger" onclick="return del()">
                                            删除
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </form>
            </div>
            <div class="box-footer clearfix" style="margin-right: 30px">
                {{ pg.page(page_data,'admin.admin_user') }}
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="{{ url_for('static',filename='./js/layui/layui.all.js') }}"></script>

    <script>
        $(document).ready(
            function () {
                $(".power").click(function () {
                    layer.open({
                        type: 2,
                        shadeClose: false,
                        shade: 0.6,
                        maxmin: true,
                        moveOut: true,
                        area: ['50%', '30%'],
                        title: '权限',
                        content: '{{ url_for('admin.admin_power_form') }}',
                    });
                });

            }
        )
    </script>

    <script>
        $(document).ready(
            function () {
                $("#creat").click(function () {
                    layer.open({
                        type: 2,
                        shadeClose: false,
                        shade: 0.6,
                        maxmin: true,
                        moveOut: true,
                        area: ['50%', '60%'],
                        title: '添加用户',
                        content: '{{ url_for('admin.admin_add') }}',
                    });
                });
            }
        )
    </script>

    <script>
        //Demo
        layui.use('form', function () {
            var form = layui.form;
            //监听提交
            form.on('submit(formDemo)', function (data) {
//            layer.msg(JSON.stringify(data.field));
                return false;
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#g-6').addClass('list-item1-active');
            $('#g-6-1').addClass('tog-active');
            $('#g-6-2').addClass('toggle-item');
            $('#g-6-3').css({"background": "-webkit-linear-gradient(left,#6d7be0 , #6bc6ea)", "color": "#fff"});
        });
    </script>
{% endblock %}