{% extends 'base/admin_base.html' %}
{% import 'base/page.html' as pg %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='./css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='./js/layui/css/layui.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static',filename='./css/bootstrap.min.css') }}">
{% endblock %}


{% block title %}
    <title>设备管理</title>
{% endblock %}


{% block content %}
    <div class="container-center">
        <div class="container-card">
            <div class="head">
                <p>设备管理</p>
            </div>

            <div class="devices-group">
                <div class="devices-info">
                    <div style="border-left: none;margin-left: -30px">
                        <select class="pub-select">
                            <option value="0">全部设备</option>
                            {% for v in device_all %}
                                <option value="{{ v.id }}">{{ v.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <p>设备总数</p>
                        <p>{{ device_count }}</p>
                    </div>
                    <div>
                        <div>
                            <div class="circular"></div>
                            <div>正在启用</div>
                        </div>
                        <p>{{ device_active }}</p>
                    </div>
                    <div>
                        <div>
                            <div class="circular" style="background: #2cff24"></div>
                            <div>在线设备</div>
                        </div>
                        <p>{{ device_online }}</p>
                    </div>
                </div>
            </div>


            <div class="container-full">
                <form action="" method="post">
                    <div class="search-group">
                        <div class="search-group-left">
                            <div class="search-title">设备列表</div>
                            <div class="search-input">
                                <input type="text" placeholder="请输入设备名称查询">
                                <div class="pub-button-group">
                                    <div class="pub-button pub-button-primary ">
                                        搜索
                                    </div>
                                </div>
                                <div class="pub-button-group" style="margin-left: 10px">
                                    <div class="pub-button pub-button-primary" id="creat">
                                        添加设备
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% for msg in get_flashed_messages(category_filter=['ok']) %}
                        <div class="alert alert-success alert-dismissible" style="margin-top: 10px">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                            </button>
                            {{ msg }}
                        </div>
                    {% endfor %}

                    <table cellspacing="0" class="container-table">
                        <tr>
                            <th class="layui-elip">编码</th>
                            <th class="layui-elip">设备名称</th>
                            <th class="layui-elip">设备所属产品</th>
                            <th class="layui-elip">节点类型</th>
                            <th class="layui-elip">启用/禁用状态</th>
                            <th class="layui-elip">最后上线时间</th>
                            <th class="layui-elip">操作</th>
                        </tr>
                        {% for v in page_data.items %}
                            <tr>
                                <td>
                                    <p class="layui-elip">{{ v.id }}</p>
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.name }}</p>
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.product.name }}</p>
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.node_desc }}</p>
                                </td>
                                <td>
                                    {% set id = v.id %}
                                    {% set _active = v._active %}
                                    {% set page = page_data.page %}
                                    {% if v._active == 1 %}
                                        <p class="layui-elip">
                                            <a href="{{ url_for('admin.devices_list',page=page,id=id,_active=_active) }}"
                                               class="layui-btn" id="button">
                                                启用中
                                            </a>
                                        </p>
                                    {% elif v._active == 0 %}
                                        <p class="layui-elip">
                                            <a href="{{ url_for('admin.devices_list',page=page,id=id,_active=_active) }}"
                                               class="layui-btn layui-btn-danger" id="button">
                                                禁用中
                                            </a>
                                        </p>
                                    {% endif %}
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.online_time }}</p>
                                </td>

                                <td>
                                    <div class="pub-button-group">
                                        <div class="pub-button pub-button-primary">计费规则</div>
                                        <div class="pub-button pub-button-primary" onclick="layer.open({
                                                type: 2,
                                                shadeClose: true,
                                                shade: 0.6,
                                                maxmin: true,
                                                moveOut: true,
                                                area: ['50%', '60%'],
                                                title: '编辑设备信息',
                                                {% set id = v.id %}
                                                content: '{{ url_for('admin.device_edit',id=id) }}',
                                                });">编辑
                                        </div>

                                        {% set page = page_data.page %}
                                        <div class="pub-button pub-button-danger"
                                             onclick="if (confirm('确定要删除吗?')) {
                                                     return window.location.href='{{ url_for('admin.device_delete',page=page,id=id) }}'
                                                     } else {
                                                     alert('操作已取消')
                                                     }">删除
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </form>
            </div>
            <div class="box-footer clearfix" style="margin-right: 30px">
                {{ pg.page(page_data,'admin.devices_list') }}
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="{{ url_for('static',filename='./js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='./js/layui/layui.all.js') }}"></script>

    <script>
        //Demo
        layui.use('form', function () {
            var form = layui.form;
            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
                return false;
            });
        });
    </script>

    <script>
        $(document).ready(
            function () {
                $("#creat").click(function () {
                    layer.open({
                        type: 2,
                        shadeClose: true,
                        shade: 0.6,
                        maxmin: true,
                        moveOut: true,
                        area: ['50%', '60%'],
                        title: '添加设备信息',
                        content: '{{ url_for('admin.device_add') }}',
                    });
                });

            }
        )
    </script>

    <script>
        $(document).ready(function () {
            $('#g-3').addClass('list-item1-active');
            $('#g-3-1').addClass('tog-active');
            $('#g-3-2').addClass('toggle-item');
            $('#g-3-4').css({"background": "-webkit-linear-gradient(left,#6d7be0 , #6bc6ea)", "color": "#fff"});
        });
    </script>
{% endblock %}