{% extends 'base/admin_base.html' %}
{% import 'base/page.html' as pg %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='./css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='./css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='./css/bootstrap.min.css') }}">
{% endblock %}


{% block title %}
    <title>订单统计</title>
{% endblock %}

{% block content %}
    <div class="container-center">
        <div class="container-card" style="display:flex;flex-direction: row;">
            <h1 style="min-width:8%;display: flex;justify-content: center;align-items: center;">订单统计</h1>
            <div class="row-card" style="flex:1;">

                <div class="card-item">
                    <h1>本月收益</h1>
                    <p>This Month Earnings</p>
                    <span>70%</span>
                    <div class="Bar">
                        <div style="width:70%;" class="bar1">
                        </div>
                    </div>
                    <p>本月增长
                        <span style="white-space: nowrap;
                        display: inline-block;
                        font-size: 1em">
                            800
                        </span>
                        元
                    </p>
                </div>
                <div class="card-item">
                    <h1>订单数量</h1>
                    <p>Order Quantity</p>
                    <span>30%</span>
                    <div class="Bar">
                        <div style="width:30%;" class="bar2">
                        </div>
                    </div>
                    <p>本月增长
                        <span style="white-space: nowrap;
                        display: inline-block;
                        font-size: 1em">
                            10
                        </span>
                        台订单
                    </p>
                </div>
                <div class="card-item">
                    <h1>累计收益(元)</h1>
                    <p>Cumulative Income(¥)</p>
                    <span>70%</span>
                    <div class="Bar">
                        <div style="width:70%;" class="bar3">
                        </div>
                    </div>
                    <p>本月增长
                        <span style="white-space: nowrap;
                        display: inline-block;
                        font-size: 1em">
                            700
                        </span>
                        元
                    </p>
                </div>
                <div class="card-item">
                    <h1>注册用户数量</h1>
                    <p>Number OF Registered Users</p>
                    <span>70%</span>
                    <div class="Bar">
                        <div style="width:70%;" class="bar4">
                        </div>
                    </div>
                    <p>本月增长
                        <span style="white-space: nowrap;
                        display: inline-block;
                        font-size: 1em">
                            100
                        </span>
                        个
                    </p>
                </div>
            </div>
        </div>
        <div class="container-card">
            <div class="devices-group">
                <select class="pub-select">
                    <option value="0">全部项目</option>
                    {% for v in project_all %}
                        <option value="{{ v.id }}">{{ v.name }}</option>
                    {% endfor %}
                </select>
                <select class="pub-select">
                    <option value="0">一小时</option>
                    <option value="1">一天</option>
                    <option value="2">一周</option>
                    <option value="3">本月</option>
                    <option value="4">本年</option>
                </select>
                <select class="pub-select">
                    <option>订单状态</option>
                    <option value="0">未支付</option>
                    <option value="1">已支付</option>
                    <option value="2">退款中</option>
                    <option value="3">完成退款</option>
                </select>
                <select class="pub-select">
                    <option>支付方式</option>
                    <option value="0">微信支付</option>
                    <option value="1">支付宝</option>
                    <option value="2">现金</option>
                    <option value="3">银行卡</option>
                </select>
                <div class="search-group">
                    <div class="search-group-left" style="margin-left:20px;margin-top: -20px">
                        <div class="search-input">
                            <input type="text" placeholder="请输入客户姓名">
                            <div class="pub-button-group">
                                <div class="pub-button pub-button-primary ">
                                    查询
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-full">
                <form action="" method="">
                    <div class="search-group">
                        <div class="search-group-left">
                            <div class="search-title">设备收益排行</div>
                        </div>
                    </div>

                    <table cellspacing="0" class="container-table">
                        <tr>
                            <th class="layui-elip">订单编号</th>
                            <th class="layui-elip">项目/公司</th>
                            <th class="layui-elip">产品id</th>
                            <th class="layui-elip">设备名称</th>
                            <th class="layui-elip">订单金额</th>
                            <th class="layui-elip">生成时间</th>
                            <th class="layui-elip">结束时间</th>
                            <th class="layui-elip">状态</th>
                            <th class="layui-elip">客户名称</th>
                            <th class="layui-elip">支付方式</th>
                        </tr>
                        {% for v in page_data.items %}
                            <tr>
                                <td>
                                    <p class="layui-elip">{{ v.id }}</p>
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.user.projects.commpy }}</p>
                                </td>
                                <td>
                                    {% for i in v.user.devices %}
                                        <p>{{ i.id }}</p>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for i in v.user.devices %}
                                        <p>{{ i.name }}</p>
                                    {% endfor %}
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.money }}</p>
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.start_time }}</p>
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.end_time }}</p>
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.stats_desc }}</p>
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.user.name }}</p>
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.pay_method_desc }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </form>
            </div>
            <div class="box-footer clearfix" style="margin-right: 30px">
                {{ pg.page(page_data,'admin.orderlist') }}
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="{{ url_for('static',filename='./js/bootstrap.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#g-5').addClass('list-item1-active');
            $('#g-5-1').addClass('tog-active');
            $('#g-5-2').addClass('toggle-item');
            $('#g-5-3').css({"background": "-webkit-linear-gradient(left,#6d7be0 , #6bc6ea)", "color": "#fff"});
        });
    </script>
{% endblock %}