{% extends 'base/admin_base.html' %}
{% import 'base/page.html' as pg %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='./css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='./js/layui/css/layui.css') }}" media="all">
{% endblock %}


{% block title %}
    <title>项目管理</title>
{% endblock %}


{% block content %}
    <div class="container-center">
        <div class="container-card">
            <div class="head">
                <p>项目管理</p>
            </div>
            <div class="container-full">
                <form action="" method="post">
                    <div class="search-group">
                        <div class="search-group-left">
                            <div class="search-title">项目列表</div>
                            <div class="search-input">

                                <input type="text" placeholder="请输入项目名称查询">
                                <div class="pub-button-group">
                                    <div class="pub-button pub-button-primary ">
                                        搜索
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search-group-right">
                            <div class="pub-button-group">
                                <div class="pub-button pub-button-empty " id="refresh">
                                    刷新
                                </div>
                                <div class="pub-button pub-button-primary pub-button-margin" id="creat">
                                    创建项目
                                </div>
                            </div>
                        </div>
                    </div>

                    <table cellspacing="0" class="container-table">
                        <tr>
                            <th class="layui-elip">序列</th>
                            <th class="layui-elip">项目名称</th>
                            <th class="layui-elip">类型</th>
                            <th class="layui-elip">公司</th>
                            <th class="layui-elip">项目id</th>
                            <th class="layui-elip">项目管理员</th>
                            <th class="layui-elip">管理员密码</th>
                            <th class="layui-elip">设备数</th>
                            <th class="layui-elip">添加时间</th>
                            <th class="layui-elip">操作</th>
                        </tr>
                        {% for v in page_data.items %}
                            <tr>
                                <td>
                                    <p class="layui-elip">{{ v.id }}</p>
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.name }}</p>
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.type_desc }}</p>
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.commpy }}</p>
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.id }}</p>
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.admin.account }}</p>
                                </td>
                                <td>
                                    <p>******</p>
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.number }}</p>
                                </td>
                                <td>
                                    <p class="layui-elip">{{ v.create_time }}</p>
                                </td>
                                <td>
                                    {% set pid = v.id %}
                                    {% set aid = v.admin.id %}
                                    {% set page = page_data.page %}
                                    <div class="pub-button-group">
                                        <div class="pub-button pub-button-primary"
                                             onclick="layer.open({
                                                     type: 2,
                                                     shadeClose: false,
                                                     shade: 0.6,
                                                     maxmin: true,
                                                     moveOut: true,
                                                     area: ['50%', '60%'],
                                                     title: '项目修改',
                                                     content: '{{ url_for('admin.project_edit',id=pid) }}'
                                                     });">编辑
                                        </div>

                                        <div class="pub-button pub-button-danger" onclick="return del()">删除</div>
                                        <div class="pub-button pub-button-primary"
                                             onclick="layer.open({
                                                     type: 2,
                                                     shadeClose: false,
                                                     shade: 0.6,
                                                     maxmin: true,
                                                     moveOut: true,
                                                     area: ['50%', '60%'],
                                                     title: '管理/操作员列表',
                                                     content: '{{ url_for('admin.project_admin',id=aid) }}'
                                                     });">管理员
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </form>
            </div>
            <div class="box-footer clearfix" style="margin-right: 30px">
                {{ pg.page(page_data,'admin.project_list') }}
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="{{ url_for('static',filename='./js/layui/layui.all.js') }}"></script>

    <script>
        //Demo
        layui.use(['form', 'layer'], function () {
            var form = layui.form;
            var layer = layui.layer;
            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));

                return false;
            });
        });
    </script>

    <script>
        $(document).ready(
            function () {
                $("#creat").click(function () {
                    layer.open({
                        type: 2,
                        shadeClose: false,
                        shade: 0.6,
                        maxmin: true,
                        moveOut: true,
                        area: ['50%', '65%'],
                        title: '创建项目/填写项目信息',
                        content: '{{ url_for('admin.project_add') }}',
                    });

                });


            }
        )
    </script>

    <script>
        $(document).ready(function () {
            $('#g-2').addClass('list-item1-active');
            $('#g-2-1').addClass('tog-active');
            $('#g-2-2').addClass('toggle-item');
            $('#g-2-3').css({"background": "-webkit-linear-gradient(left,#6d7be0 , #6bc6ea)", "color": "#fff"});
        });
    </script>
{% endblock %}